/* light blue 0080FF*/
/*grey-blue 6283A8*/
/* grey C0C0C0*/
body {
	background-color: #C0C0C0;
	width: 100%;
}
.container {
	width: 80%;
	margin: 0 auto;
}

.nav {
	width: 80%;
	background-color: #6283A8;
	list-style-type:none;
}

.nav li {
	display: inline;
	width: 40%;
}

.topcontent {
	display: inline-block;
	width: 60%;
	height: 35%;
	background-color: #0080FF;
	float: left;
}

.botcontent {
	display: inline-block;
	width: 60%;
	height: 35%;
	background-color: #0080FF;
	float: left;
}

.sidecontent {
	display: inline-block;
	width: 40%;
	height: 70%;
	background-color: #0080FF;
}

.footer {
	display: inline-block;
	width: 80%;
	height: 30%;
	background-color: #000;
	color: #fff;
}