/* light blue 0080FF*/
/*grey-blue 6283A8*/
/* grey C0C0C0*/
.container {
	width: 80%;
	color: #C0C0C0;
}

.nav {
	width: 80%;
	color: #6283A8;
}

.topcontent {
	width: 60%;
	color: #0080FF;
	float: left;
}

.botcontent {
	width: 60%;
	color: #0080FF;
	float: left;
}

.sidecontent {
	width: 40%;
	color: #0080FF;
}